<form class="mt-4" method="POST" action="/products/stop-selling-products">
    <div>
        <h3>Sản phẩm đang bán</h3>
        <a href="/products/create">Thêm sản phẩm mới</a>
        <br>
        <a href="/products/trash">Xem sản phẩm đã hết ({{productsSortDeleted}})</a>

        <div class="mt-4">
            <button id="btn-stop" type="submit" class="btn btn-primary disabled">Dừng bán các món đã chọn</button>
        </div>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col" colspan="1">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                    </div>
                </th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Giá</th>
                <th scope="col">Hình ảnh</th>
                <th scope="col">Phân loại</th>
                <th scope="col" colspan="2">Lựa chọn</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="productsIds" value="{{this._id}}" id="">
                    </div>
                </td>
                <td>{{this.name}}</td>
                <td class="max-width-td">{{this.description}}</td>
                <td>{{formatPrice this.price}}</td>
                <td><img src="{{this.image}}" alt="{{this.name}}" style="width: 80px; height: auto;"></td>
                <td id="category-{{this._id}}" data-type="{{this.categoryId}}"></td>
                <td>
                    <a href="/products/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    {{!-- <a href="" class="btn btn-link" data-bs-toggle="modal" data-id="{{this._id}}"
                        data-bs-target="#delete-product-model">Xóa</a> --}}
                    <button onclick="deleteProduct(this)" data-id="{{this._id}}" data-bs-toggle="modal"
                        data-bs-target="#delete-product-model" type="button" class="btn btn-link">Dừng bán</button>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="7" class="text-center">
                    Bạn chưa có sản phẩm nào! <a href="/products/create">Thêm ngay</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- Confirm delete product --}}
<div id="delete-product-model" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Xác nhận dừng bán?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button id="btn-delete-product" onclick="navigate()" type="button"
                    class="btn btn-danger">Accept</button>
            </div>
        </div>
    </div>
</div>

<form name="delete-product-form" method="POST"></form>

<script>
    var productId;
    var btnDeleteProduct = document.getElementById('btn-delete-product')
    var deleteForm = document.forms['delete-product-form'];
    var checkboxAll = document.getElementById('checkbox-all')
    var productItemCheckbox = document.querySelectorAll('input[name="productsIds"]')
    var stopSellingBtn = document.getElementById('btn-stop')

    function deleteProduct(element) {
        productId = element.getAttribute('data-id')
    }
    /**
    function navigate() {
        window.location.href = "/"
    }*/

    btnDeleteProduct.onclick = function () {
        deleteForm.action = '/products/' + productId + '?_method=DELETE';
        deleteForm.submit();
    }

    checkboxAll.onchange = function () {
        if (checkboxAll.checked) {
            productItemCheckbox.forEach((checkbox) => {
                checkbox.checked = true
            })
        } else {
            productItemCheckbox.forEach((checkbox) => {
                checkbox.checked = false
            })
        }
        renderStopSellingBtn()
    }

    productItemCheckbox.forEach((checkbox) => {
        checkbox.onchange = function () {
            var allChecked = Array.from(productItemCheckbox).every(checkbox => checkbox.checked);
            checkboxAll.checked = allChecked;
            renderStopSellingBtn()
        };
    });

    function renderStopSellingBtn() {
        var countChecked = 0;
        productItemCheckbox.forEach(checkbox => {
            if (checkbox.checked) {
                countChecked++;
            }
        });
        if (countChecked > 0) {
            stopSellingBtn.classList.remove('disabled')
        } else {
            stopSellingBtn.classList.add('disabled')
        }
    }

    const categoryCells = document.querySelectorAll('[id^="category-"]');
    categoryCells.forEach(function (cell) {
        const categoryId = cell.getAttribute("data-type");
        let categoryName = "";

        switch (parseInt(categoryId)) {
            case 1:
                categoryName = "Món chính";
                break;
            case 2:
                categoryName = "Món phụ";
                break;
            case 3:
                categoryName = "Nước uống";
                break;
            default:
                categoryName = "Không xác định";
        }

        cell.textContent = categoryName;
    });

</script>