<div class="mt-4">
    <div class="mb-3">
        <h1>Danh sách tìm kiếm</h1>
    </div>
    <div class="row">
        {{#each products}}
        <div class="col-sm-6 col-lg-4">
            <div class="card card-course-item mb-4">
                <a href="/products/{{this.slug}}">
                    <img src="{{this.image}}" class="card-img-top" alt="{{this.name}}">
                </a>
                <div class="card-body">
                    <a href="/products/{{this.slug}}">
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>
                    <p class="card-text red-text">{{formatPrice this.price}}</p>
                    <button onclick="saveToCookies('{{this._id}}', '{{this.price}}')" class="btn btn-primary">Đặt
                        nhanh</button>
                </div>
            </div>
        </div>
        {{else}}
        <p>Không tìm thấy sản phẩm phù hợp</p>
        {{/each}}
    </div>
</div>

<div id="alertMessage" class="alert alert-success" style="display: none;">
    Đã thêm vào giỏ hàng!
</div>

<script>
    function saveToCookies(productId, price) {
        var quantity = 1;

        var existingProducts = JSON.parse(getCookie('products') || '[]');

        // Kiểm tra nếu sản phẩm đã tồn tại trong danh sách thì cập nhật số lượng, ngược lại thêm sản phẩm mới
        var productIndex = existingProducts.findIndex(item => item.productId === productId);
        if (productIndex !== -1) {
            existingProducts[productIndex].quantity = parseInt(existingProducts[productIndex].quantity) + quantity;
        } else {
            existingProducts.push({ productId: productId, price: price, quantity: quantity });
        }

        document.cookie = 'products=' + JSON.stringify(existingProducts) + ';max-age=86400;path=/';
        
        const alertMessage = document.getElementById('alertMessage');
        alertMessage.style.display = 'block';
        setTimeout(function () {
            alertMessage.style.display = 'none';
        }, 1500);
    }

    function getCookie(name) {
        const cookieValue = document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)');
        return cookieValue ? cookieValue.pop() : '';
    }

</script>