<div class="mt-4">
    <div>
        <h3>Sản phẩm đã ngừng bán</h3>
        <a href="/products">Xem sản phẩm hiện có</a>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col" colspan="1">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                    </div>
                </th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Giá</th>
                <th scope="col">Hình ảnh</th>
                <th scope="col">Phân loại</th>
                <th scope="col" colspan="2">Lựa chọn</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="productsIds[]" value="{{this._id}}" id="">
                    </div>
                </td>
                <td>{{this.name}}</td>
                <td class="max-width-td">{{this.description}}</td>
                <td>{{this.price}}</td>
                <td><img src="{{this.image}}" alt="{{this.name}}" style="width: 80px; height: auto;"></td>
                <td>{{this.categoryId}}</td>
                <td>
                    <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
                    {{!-- <a href="" class="btn btn-link" data-bs-toggle="modal" data-id="{{this._id}}"
                        data-bs-target="#delete-course-model">Xóa</a> --}}
                    <button onclick="deleteCourse(this)" data-id="{{this._id}}" data-bs-toggle="modal"
                        data-bs-target="#delete-course-model" type="button" class="btn btn-link">Xóa vĩnh viễn</button>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Bạn chưa dừng bán món nào!
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Confirm delete course --}}
<div id="delete-course-model" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa vĩnh viễn khóa học này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button id="btn-delete-course" onclick="navigate()" type="button" class="btn btn-danger">Accept</button>
            </div>
        </div>
    </div>
</div>

<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>

<script>
    var courseId;
    var btnDeleteCourse = document.getElementById('btn-delete-course')
    var deleteForm = document.forms['delete-course-form'];
    var restoreForm = document.forms['restore-course-form'];
    
    // Lấy ra tất cả các thẻ <a> có class "btn-restore" trong <div class="mt-4">
    const btnRestoreLinks = document.querySelectorAll('.mt-4 a.btn-restore');

    // Lặp qua từng thẻ <a> và thêm sự kiện click
    btnRestoreLinks.forEach(btnRestoreLink => {
        btnRestoreLink.addEventListener('click', function(event) {
            event.preventDefault(); // Ngăn chặn hành động mặc định của thẻ <a>
            // Lấy giá trị của thuộc tính data-id
        const dataId = this.getAttribute('data-id');
        
        restoreForm.action = '/courses/' + dataId + '/restore?_method=PATCH';
        restoreForm.submit();
        });
    });

    function deleteCourse(element) {
        courseId = element.getAttribute('data-id')
    }
    /**
    function navigate() {
        window.location.href = "/"
    }*/

    btnDeleteCourse.onclick = function () {
        deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE';
        deleteForm.submit();
    }

</script>