<form class="mt-4" method="POST" action="/products/resume-selling-products">
    <div>
        <h3>Sản phẩm đã ngừng bán</h3>
        <a href="/products">Xem sản phẩm hiện có</a>

        <div class="mt-4">
            <button id="btn-resume" type="submit" class="btn btn-primary disabled">Bán lại các món đã chọn</button>
        </div>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col" colspan="1">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkbox-all" title="Chọn tất cả">
                    </div>
                </th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Giá</th>
                <th scope="col">Hình ảnh</th>
                <th scope="col">Phân loại</th>
                <th scope="col" colspan="2">Lựa chọn</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="productsIds" value="{{this._id}}" id="" title="Nhấn chọn">
                    </div>
                </td>
                <td>{{this.name}}</td>
                <td class="max-width-td">{{this.description}}</td>
                <td>{{formatPrice this.price}}</td>
                <td><img src="{{this.image}}" alt="{{this.name}}" style="width: 80px; height: auto;"></td>
                <td>{{this.categoryId}}</td>
                <td>
                    <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
                    {{!-- <a href="" class="btn btn-link" data-bs-toggle="modal" data-id="{{this._id}}"
                        data-bs-target="#delete-product-model">Xóa</a> --}}
                    <button onclick="deleteProduct(this)" data-id="{{this._id}}" data-bs-toggle="modal"
                        data-bs-target="#delete-product-model" type="button" class="btn btn-link">Xóa vĩnh viễn</button>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="7" class="text-center">
                    Bạn chưa dừng bán món nào!
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- Confirm delete product --}}
<div id="delete-product-model" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa vĩnh viễn sản phẩm này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button id="btn-delete-product" onclick="navigate()" type="button" class="btn btn-danger">Accept</button>
            </div>
        </div>
    </div>
</div>

<form name="delete-product-form" method="POST"></form>
<form name="restore-product-form" method="POST"></form>

<script>
    var productId;
    var btnDeleteProduct = document.getElementById('btn-delete-product')
    var deleteForm = document.forms['delete-product-form'];
    var restoreForm = document.forms['restore-product-form'];
    var checkboxAll = document.getElementById('checkbox-all')
    var productItemCheckbox = document.querySelectorAll('input[name="productsIds"]')
    var resumeSellingBtn = document.getElementById('btn-resume')
    
    // Lấy ra tất cả các thẻ <a> có class "btn-restore" trong <div class="mt-4">
    const btnRestoreLinks = document.querySelectorAll('.mt-4 a.btn-restore');

    // Lặp qua từng thẻ <a> và thêm sự kiện click
    btnRestoreLinks.forEach(btnRestoreLink => {
        btnRestoreLink.addEventListener('click', function(event) {
            event.preventDefault(); // Ngăn chặn hành động mặc định của thẻ <a>
            // Lấy giá trị của thuộc tính data-id
        const dataId = this.getAttribute('data-id');
        
        restoreForm.action = '/products/' + dataId + '/restore?_method=PATCH';
        restoreForm.submit();
        });
    });

    function deleteProduct(element) {
        productId = element.getAttribute('data-id')
    }
    /**
    function navigate() {
        window.location.href = "/"
    }*/

    btnDeleteProduct.onclick = function () {
        deleteForm.action = '/products/' + productId + '/destroy?_method=DELETE';
        deleteForm.submit();
    }

    checkboxAll.onchange = function () {
        if (checkboxAll.checked) {
            productItemCheckbox.forEach((checkbox) => {
                checkbox.checked = true
            })
        } else {
            productItemCheckbox.forEach((checkbox) => {
                checkbox.checked = false
            })
        }
        renderResumeSellingBtn()
    }

    productItemCheckbox.forEach((checkbox) => {
        checkbox.onchange = function () {
            var allChecked = Array.from(productItemCheckbox).every(checkbox => checkbox.checked);
            checkboxAll.checked = allChecked;
            renderResumeSellingBtn()
        };
    });

    function renderResumeSellingBtn() {
        var countChecked = 0;
        productItemCheckbox.forEach(checkbox => {
            if (checkbox.checked) {
                countChecked++;
            }
        });
        if (countChecked > 0) {
            resumeSellingBtn.classList.remove('disabled')
        } else {
            resumeSellingBtn.classList.add('disabled')
        }
    }

</script>