<h1>Chi tiết đơn hàng {{orderDetail.orderId._id}}</h1>
<p>Ngày đặt: <b>{{orderDetail.orderId.orderDate}}</b></p>
<p style="display: inline-block; margin-right: 10px;">Trạng thái:</p>
<select class="form-select form-select-sm checkbox-select-all-options" aria-label="Default select example"
    data-status="{{orderDetail.orderId.status}}" style="display: inline-block; width: auto;">
    <option value="1">Chưa xác nhận</option>
    <option value="2">Đã xác nhận</option>
    <option value="3">Đang giao</option>
    <option value="4">Đã giao</option>
    <option value="5">Đã hủy</option>
</select>
<p>Người nhận: {{orderDetail.orderId.deliverAddress}}</p>
<p>Phương thức thanh toán: <b>{{orderDetail.orderId.paymentMethod}}</b></p>
<p>Ghi chú: <b class="red-text">{{orderDetail.orderId.note}}</b></p>
<p>Tiền hàng: {{orderDetail.orderId.totalPrice}}</p>
<p>Phí giao hàng: {{orderDetail.orderId.shippingFee}}</p>
<p>Tổng đơn hàng: <b>{{orderDetail.orderId.finalPrice}}</b></p>
<br>
<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Giá bán</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Thành tiền</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{this.productId.name}}</td>
            <td>{{this.productId.price}}</td>
            <td>{{this.quantity}}</td>
            <td id="status">{{this.totalAmount}}</td>
        </tr>
        {{else}}
        <tr>
            <td colspan="4" class="text-center">
                Đơn hàng không được chấp nhận
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script>
    const select = document.querySelector('select[data-status]');
    const orderId = "{{orderDetail.orderId._id}}";
    const initialStatus = select.getAttribute('data-status');
    select.value = initialStatus;

    select.addEventListener('change', function () {
        const newStatus = this.value;
        console.log(`Đã chọn trạng thái mới cho đơn hàng ${orderId}: ${newStatus}`);
    });
</script>