<h1>Danh sách tài khoản người dùng</h1>
<br>
<a href="/accounts/trash">Danh sách tài khoản đã khóa</a>
<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Tên</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Địa chỉ nhận hàng</th>
            <th scope="col">Ngày tạo tài khoản</th>
            <th scope="col">Tùy chọn</th>
        </tr>
    </thead>
    <tbody>
        {{#each users}}
        <tr>
            <td>{{this._id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.address}}</td>
            <td>{{this.createdAt}}</td>
            <td><button onclick="deleteUser(this)" data-id="{{this._id}}" data-bs-toggle="modal"
                    data-bs-target="#delete-user-model" type="button" class="btn btn-link">Khóa</button></td>
        </tr>
        {{else}}
        <tr>
            <td colspan="6" class="text-center">
                Chưa có tài khoản nào!
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div id="delete-user-model" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Xác nhận khóa tài khoản này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button id="btn-delete-user" onclick="navigate()" type="button"
                    class="btn btn-danger">Accept</button>
            </div>
        </div>
    </div>
</div>

<form name="delete-user-form" method="POST"></form>

<script>
    var btnDeleteUser = document.getElementById('btn-delete-user')
    var deleteForm = document.forms['delete-user-form'];
    var user_Id;

    function deleteUser(element) {
        user_Id = element.getAttribute('data-id')
    }

    btnDeleteUser.onclick = function () {
        deleteForm.action = '/accounts/' + user_Id + '?_method=DELETE';
        deleteForm.submit();
    }
</script>